<%-include ('../_layouts/adminheader') %>
    <h1>Add Product</h1>
    <a href="/admin/products" class="btn btn-primary">Back to all products</a>
    <br/><br/>
    <form method="post" action="/admin/products/add-product" enctype="multipart/form-data">
        <div class="form-group">
            <label for="">Title</label>
            <input type="text" class="form-control" placeholder="Title.." vlaue="<%= title %>" name="title">
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea id='ta' class="form-control" cols="30" rows="5" name="description"><%= description %></textarea>
        </div>
        <div class="form-group">
            <label for="">Price</label>
            <input type="text" class="form-control" placeholder="Price.." vlaue="<%= price %>" name="slug">
        </div>
        <div class="form-group">
            <label for="">Category</label>
            <select name="category" class="form-control">
                <%categories.forEach(function(category){%>
                    <option value="<%= category.slug%>"><%= category.title%></option>

                    <%});%>
                </select>
        </div>
        <div class="form-group">
            <label for="">Image</label>
            <input type="file" class="form-control" placeholder="Upload Image.." id="img" name="image">
            <img src="#" id="imgPreview" alt="">
        </div>

        <button class="btn btn-default" type="submit">Submit</button>
    </form>

    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function(e) {
                    $('#imgPreview').attr('src', e.target.result).width(200).height(200);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $('#img').change(function() {
            readURL(this);
        })
    </script>
    <%- include('../_layouts/adminfooter'); %>