<%-include ('../_layouts/adminheader') %>
    <h1>Pages</h1>
    <a href="/admin/pages/add-page" class="btn btn-primary">Add a new page</a>
    <br/>
    <table class="table table-hover  table-striped">
        <thead>
            <tr class="home">
                <th scope="col">Title</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            <%pages.forEach(function(page){%>
                <tr id="id_<%= page.id %>" class="<%= page.slug %>">
                    <td scope="row">
                        <%= page.title %>
                    </td scope="row">
                    <td scope="row"><a href="/admin/pages/edit-page/<%=page._id%>">Edit</a></td>
                    <%if(page.slug == 'home') {%>
                        <td scope="row"></td>
                        <%}else{%>
                            <td scope="row"><a class="confirmDelete" href="/admin/pages/delete-page/<%=page._id%>">Delete</a></td>
                            <%}%>
                </tr>
                <%})%>
        </tbody>
    </table>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $('tbody').sortable({
            items: "tr:not('.home')",
            placeholder: 'ui-state-highlight',
            update: function() {
                var ids = $('tbody').sortable("serialize");
                var url = "/admin/pages/reorder-pages";
                $.post(url, ids);
            }
        })
    </script>

    <%- include('../_layouts/adminfooter'); %>